<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSInternals.Common" version="2.21.2" targetFramework="net451" />
  <package id="DSInternals.Replication" version="2.21.2" targetFramework="net451" />
  <package id="DSInternals.SAM" version="2.21.2" targetFramework="net451" />
  <package id="NDceRpc" version="0.2.1.0" targetFramework="net451" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net451" />
</packages>